version: '3.8'

services:
    merchandise-service:
      build:
        context: ../
        dockerfile: ./common/Dockerfile
      image: merchandise-service
      hostname: merchandise-service
      ports:
        - "8080:80"

    stock-api:
      image: "ghcr.io/ozon-edu-csharp-2021/stock-api:main"
      hostname: stock-api

    emailing-service:
      image: "ghcr.io/ozon-edu-csharp-2021/emailing-service:main"
      hostname: emailing-service

    employees-service:
      image: "ghcr.io/ozon-edu-csharp-2021/employees-service:main"
      hostname: employees-service

    supply-service:
      image: "ghcr.io/ozon-edu-csharp-2021/supply-service:main"
      hostname: supply-service
    


